<form class="form-horizontal" method="post">
    <div class="form-group">
        <label for="phone">Чтобы посмотреть историю заказов, введите свой номер телефона</label>
        <input class="form-control" id="phone" name="phone" type="tel" width="100px"/>
    </div>
    <div class="form-group">
        <input class="btn btn-default" type="submit" value="Найти мои заказы"/>
    </div>
</form>

