<p class="lead">Мы открыты для вас каждый день с 11 до 23</p>
<br>
<section class="lead">Столик #{{numb}}</section>
<form class="form-horizontal" method="post">
    <div class="form-group">
        <label for="date">Укажите дату и время:</label>
        <input class="form-control" id="date" name="date" type="text"/>

    </div>
    <div class="form-group">
        <input class="form-control" id="timeDate" name="timeDate" type="text"/>
    </div>
    <div class="form-group">
        <label for="username">Ваше имя:</label>
        <input class="form-control" id="username" name="username" type="text" required/>
    </div>
    <div class="form-group">
        <label for="phone">Телефон:</label>
        <input class="form-control" id="phone" name="phone" type="tel" required/>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Закзать"/>
    </div>
</form>
