<section class="lead">
    Бронь успешно выполнена! Назовите ваш код администратору: <strong>{{code}}</strong><br>
    Историю своих броней можно посмотреть в <a class="link" href="/login">Мои заказы</a>
</section>


